node_modules
!.gitkeep
dist
fan-webssh-server.zip
server/app/static/*
server/app/socket/sftp-cache/*
!server/app/socket/sftp-cache/.gitkeep
server/app/logs/*
server/app/db/*
!server/app/db/README.md
plan.md
.env
.env.local
.git
doc_images
.github
Dockerfile
docker-compose.yml
native
scripts
cache
data
CHANGELOG.md
Q&A.md
README.md
.eslintcache
*.tsbuildinfo